/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FQRAW {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }


    withName: SORTMERNA {
        publishDir = [
            [
                path: { "${params.outdir}/sortmerna" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ],
            [
                path: { "${params.outdir}/sortmerna" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz'
            ],
            [
                path: { "${params.outdir}/sortmerna" },
                mode: params.publish_dir_mode,
                pattern: '*_versions.yml'
            ]
        ]
    }

    withName: FQSORTMERNA {
        ext.args = '--quiet'
    }

    withName: TRIMMOMATIC {
        ext.args = "SLIDINGWINDOW:5:20 MINLEN:25"
        publishDir = [
           [
                path: { "${params.outdir}/trimmomatic" },
                mode: params.publish_dir_mode,
                pattern: '*.paired.trim*.fastq.gz'
            ],
            [
                path: { "${params.outdir}/trimmomatic" },
                mode: params.publish_dir_mode,
                pattern: '*.unpaired.trim_*.fastq.gz'
            ],
            [
                path: { "${params.outdir}/trimmomatic" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ],
            [
                path: { "${params.outdir}/trimmomatic" },
                mode: params.publish_dir_mode,
                pattern: '*.summary'
            ],
            [
                path: { "${params.outdir}/trimmomatic" },
                mode: params.publish_dir_mode,
                pattern: '*_versions.yml'
            ]
        ]
    }

    withName: FASTP {
        publishDir = [
            [
                path: { "${params.outdir}/fastp" },
                mode: params.publish_dir_mode,
                pattern: '*.fastp.fastq.gz'
            ],
            [
                path: { "${params.outdir}/fastp" },
                mode: params.publish_dir_mode,
                pattern: '*.json'
            ],
            [
                path: { "${params.outdir}/fastp" },
                mode: params.publish_dir_mode,
                pattern: '*.html'
            ],
            [
                path: { "${params.outdir}/fastp" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ],
            [
                path: { "${params.outdir}/fastp" },
                mode: params.publish_dir_mode,
                pattern: '*_versions.yml'
            ],
            [
                path: { "${params.outdir}/fastp" },
                mode: params.publish_dir_mode,
                pattern: '*.fail.fastq.gz'
            ],
            [
                path: { "${params.outdir}/fastp" },
                mode: params.publish_dir_mode,
                pattern: '*.merged.fastq.gz'
            ]
        ]
    }

    withName: SEQTK_TRIMFQ {
        publishDir = [
            [
                path: { "${params.outdir}/seqtktrim" },
                mode: params.publish_dir_mode,
                pattern: "*.gz"
            ],
            [
                path: { "${params.outdir}/seqtktrim" },
                mode: params.publish_dir_mode,
                pattern:  '*_versions.yml'
            ]
        ]
    }

    withName: FQTRIMMING {
       ext.args = '--quiet'
    }

    withName: STAR_ALIGN {
        publishDir = [
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: "*Log.final.out"
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: "*Log.out"
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: "*Log.progress.out"
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern:  '*_versions.yml'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*d.out.bam'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*sortedByCoord.out.bam'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*toTranscriptome.out.bam'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*Aligned.unsort.out.bam'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*fastq.gz'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*.tab'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*.SJ.out.tab'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*.ReadsPerGene.out.tab'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*.out.junction'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*.out.sam'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*.wig'
            ],
            [
                path: { "${params.outdir}/staralign" },
                mode: params.publish_dir_mode,
                pattern: '*.bg'
            ]
        ]
    }
    withName: MULTIQC {
        publishDir = [
            [
                path: { "${params.outdir}/multiqc" },
                mode: params.publish_dir_mode,
                pattern: "*multiqc_report.html"
            ],
            [
                path: { "${params.outdir}/multiqc" },
                mode: params.publish_dir_mode,
                pattern: "*_data"
            ],
            [
                path: { "${params.outdir}/multiqc" },
                mode: params.publish_dir_mode,
                pattern: "*_plots"
            ],
            [
                path: { "${params.outdir}/multiqc" },
                mode: params.publish_dir_mode,
                pattern: "*_versions.yml"
            ]
        ]
    }
}
