// Profile
profiles {

    // upsc general profile
    upsc {
        params{
          account        = 'u2021014'
	        email = 'mahnaz.irani-shemirani@umu.se'
	        mailType = 'END,FAIL'
        }
        process {
            executor       = 'slurm'
            clusterOptions = "-A '${params.account}' --mail-type '${params.mailType}' --mail-user '${params.email}'"
            memory         = { 20.GB * task.attempt }
            cpus           = { 1 * task.attempt }
            time           = { 10.h * task.attempt }
//            errorStrategy  = 'retry'
//            maxRetries     = 2
        }
    }
}